
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.input-column-repair{

    padding: 10px;
    

}

.input-column-repair input{
    font-size: 25px;
}
.btn-wrapper-repair{
    margin-top: 100px;
    padding: 20px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}
.btn-wrapper-repair button {
    border-radius:10px ;
    width: 200px;
    height: 50px;
}

    

#btn1-repair{
    
    font-size: 25px;
    background-color: brown;

}
#btn2-repair{
    font-size: 25px;
    background-color: green;

}